# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate
.terraform.tfstate.backup
terraform.tfvars
.tfplan

# Local files
*.log
*.bak
*.backup

# Sensitive key files
ssh_key/*

# Node
node_modules/

# IDE/editor
.vscode/
*.swp
*.swo
.DS_Store

# Others
*.zip
*.tar.gz
